@import url('components/header.css');
@import url('components/footer.css');
@import url('components/banner.css');

@import url('pages/about_dmd.css');
@import url('pages/about_foundation.css');
@import url('pages/all_patient_stories.css');
@import url('pages/care.css');
@import url('pages/contact.css');
@import url('pages/download.css');
@import url('pages/executive_committee.css');
@import url('pages/health_care_team.css');
@import url('pages/patient_story.css');
@import url('pages/photo.css');
@import url('pages/privacy_policy.css');
@import url('pages/reg_form.css');
@import url('pages/style.css');
@import url('pages/video.css');
